#contenu
{
    text-indent: 45px;
    background-color: white;
    margin-left: 15%;
    margin-right: 15%;
    padding: 2%;
    font-size: 20px;
    position: relative;
}

#mosaique {
    margin-top: 5%;
}

.case {
    max-width: 34%;
    position: relative;
    margin-top: 5%;
    margin-left: 29%;
}

#mosaique .case img {
    width: 100%;
    border-radius: 50%  ;
}
#mosaique div + div {
    float: left;
    margin-left: 8%;
}

#mosaique .case a:hover img, .case_d a:hover img{
    filter: brightness(50%);
}

#mosaique .case span, .case_d span {
    display: none;
}

#mosaique .case a:hover + span, .case_d a:hover + span {
    display: block;
    position: absolute;
    top: 47%;
    left: 5%;
    text-align: center;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 24px;
}
