body
{
    margin:0;
}

.intro {
    font-style: italic;
}


#contenu .intro
{
    font-style: italic;
    font-size: 22px;
}

#contenu img
{
    width: 70%;
    padding-bottom: 2%;
    margin-left: 15%;
}

#contenu li{
    margin-top: 1%;
}

