p {
    text-align: justify;
}

p:last-child {
    clear: both;
    margin-top: 100px;
}

.case {
    position: relative;
    max-width: 32%;
    margin-top: 5%;
    margin-left: 12%;
    float: left;
}

#mosaique .case img {
    width: 100%;
}

#mosaique .case a:hover img {
    filter: brightness(50%);
}

#mosaique .case div {
    display: none;
}

.description {
    max-width: 50%;
    margin-left: 25%;
    margin-top: 35%;
    text-align: center;
}

#mosaique .case a:hover + .description {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 24px;
}
#mosaique .case a {
    display: block;
}
@media screen and (max-width: 450px) {

    .case {
        float: none;
        max-width: 50%;
        margin-left: 25%;
    }

    #mosaique .case a:hover + .description {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        color: #FFFFFF;
        font-weight: bold;
        font-size: 12px;
    }

}
