body
{
	margin:0;
}

#top img
{
	width: 100%;
	height: 750px;
	filter: brightness(50%);
}

#top
{
	color: white;
	text-shadow: 2px 3px gray;
	float: center;
}

#top h1
{
	position: absolute;
	top: 500px;
	left : 20%;
	font-size: 3em;
	text-shadow: 2px 4px black;
}

#menu
{
	position: absolute;
	width:40%;
	top:40px;
	left : 45%;
	text-decoration: none;
}

 #menu ul
{
	max-width : 40%;
	padding:0;
	margin-left:0%;
}

#menu li
{
 	font-size: 1.9em;
 	margin-left:3%;
 	list-style-type:none;
 	float:left;
}

#menu a
{
	margin: 0;
	color:white;
	text-decoration:none;
}

#menu li a:hover
{
	padding: 8%;
	border-radius: 10px;
	background-color: grey;
}

#contenu
{	text-align: justify;
	text-indent: 45px;
	background-color: white;
	margin-left: 15%;
	margin-right: 15%;
	padding: 2%;
	font-size: 20px;
	position: relative;
}


#contenu .intro
{
	font-style: italic;
	font-size: 22px;
}

#contenu img
{
	width: 50%;
	padding-bottom: 2%;
}

#contenu li{
	margin-top: 1%;
}

#vids
{
	padding-left: 25%;
}

#footer img
{
	filter: opacity(30%);
	width: 6%;
	height: 6%;
	margin-left: 47%;
	padding-bottom: 3%;
	margin-top: 3%;
}

#footer img:hover
{
	filter: opacity(100%);
}
.l-g
{
	float : left;
	width: 40%;
	box-shadow: 0px 0px 3px grey;
}

.l-d
{
	float : right;
	width : 40%;
	box-shadow: 0px 0px 3px grey;
}

h3{
	text-align: center;
}
